<nav class="bg-blue-500 p-4">
  <ul class="flex list-none m-0 justify-center">
    <li class="mr-6">
      <a [routerLink]="['/']" class="text-white hover:text-blue-200"
        >About</a
      >
    </li>
    <li class="mr-6">
      <a [routerLink]="['/all-babies']" class="text-white hover:text-blue-200"
        >All Babies</a
      >
    </li>
    <li class="mr-6">
      <a [routerLink]="['/add-baby']" class="text-white hover:text-blue-200"
        >Add Baby</a
      >
    </li>
  </ul>
</nav>
